@import url('https://fonts.googleapis.com/css?family=Roboto&subset=latin-ext');

* {
    padding: 0;
    margin: 0;
}

body {
 font-family: 'Roboto', sans-serif;
 padding-top: 50px;
 padding-bottom: 30px;
 background: #eef2ed;
}
